h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 30px;
}

#pombo {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

#pombo a:link, a:visited {
    color: red;
    border: 8px solid red;
    text-decoration: none;
}

#pombo a:hover {
    color: white;
    background-color: red;

}

/*pagina 2*/

#titulopag2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color : navy;
}

#gifbatman {
    text-align: center;
    
}

#linkpag2 a:link, a:visited {
    color: blue;
    text-decoration: none;
    font-size: 30px;
}

#linkpag2 a:hover {
    color: white;
    background-color: blue;
    padding: 10px;
}

/* pag 3*/

#bodyq {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.quiz-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.question {
    margin-bottom: 20px;
    font-size: 19px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.captcha-container {
    width: 400px;
    margin: 50px auto;
    text-align: center;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-bottom: 20px;
}

.images img {
    width: 100%;
    cursor: pointer;
    border: 2px solid transparent;
}

.images img.selecionada {
    border-color: blue;
}


#linkpag5 a:link, a:visited {
    color: orangered;
    text-decoration: none;
    font-size: 27px;
}

#linkpag5 a:hover {
    color: rgb(255, 184, 127);
    background-color: orangered;
    padding: 10px;
}

#interlude {
    background-color: white;
    text-align: center;
    margin-left: 290px;
    margin-right: 290px;
    padding-bottom: 250px;
}